a {
    color: #be5f00;
    font-size: 120%;
    text-decoration: none;
    margin-left: 15px;
}

a:hover {
    text-decoration: underline;
    color: rgb(85, 40, 0);
    transition: color .4s;
}