* {
    background-color: beige;
}

h1 {
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    
}

a {
    margin-right: 10px;

}